<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c65b07af-6439-424a-a796-9ec5e7a07015/resourceGroups/labsChallenge/providers/Microsoft.Web/sites/labsChallenge</ResourceId>
    <ResourceGroup>labsChallenge</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://labschallenge.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>labschallenge.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>labsChallenge</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$labsChallenge</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Labs_challengeContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:challgengeserver.database.windows.net,1433;Initial Catalog=labsDatabase;User ID=challenge;Password=admin@123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Labs_challenge.Models.Labs_challengeContext, Labs-challenge" MigrationConfiguration="Labs_challenge.Migrations.Configuration, Labs-challenge" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Labs_challengeContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:challgengeserver.database.windows.net,1433;Initial Catalog=labsDatabase;User ID=challenge;Password=admin@123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Labs_challengeContext-Web.config Connection String">
      <ParameterValue>data source=tcp:challgengeserver.database.windows.net,1433;initial catalog=labsDatabase;user id=challenge;password=admin@123;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>